.App {
  text-align: center;
  padding-top: 100px;
  text-shadow: -1px 0 beige, 0 1px beige, 1px 0 beige, 0 -1px beige;
}

.title {
  font-size: 60px;
}

.startLink {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-decoration: none;
  font-size: 40px;
}

.startButton {
  width: 100px;
  height: 60px;
  background-color: violet;
  border-radius: 10%;
}

.startButton:hover {
  background-color: #61dafb;
}

.firstImage {
  position: absolute;
  top: 20px;
  right: -40px;
  width: 200px;
  height: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
